<div class="form-panel">
  <div class="row">
    <h1 class="col-md-6 col-md-offset-6">Log in</h1>
  </div>

  <%= form_for(:session, url: login_path) do |form| %>
    <div class="row">
      <%= form.label :email, class: 'col-md-6 form-label' %>
      <%= form.email_field :email, class: 'col-md-6' %>
    </div>
    <div class="row">
      <%= form.label :password, class: 'col-md-6 form-label' %>
      <%= form.password_field :password, class: 'col-md-6' %>
    </div>
    <div class="row">
        <%= form.submit "Log in", class: 'btn col-md-3 col-md-offset-6' %>
        <div class="col-md-3 sign-in-link">
          or <%= link_to "Sign in", signup_path %>
        </div>
    </div>
  <% end %>
  <p>
    
  </p>
</div>